In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 500)

In [2]:
new_data= pd.read_csv("../data/cleaned_data.csv")

In [3]:
new_data.head()

,Unnamed: 0,patient_id,age,visit_date,summary,obs_date,a1c,a1c_level
0,0,72,56,2017-07-19,"followup diabetes, med refill",2017-07-21,8.1,0
1,1,72,56,2017-07-19,"followup diabetes, med refill",2019-01-19,7.6,1
2,2,72,56,2017-07-19,"followup diabetes, med refill",2018-02-08,8.3,0
3,3,72,56,2017-07-19,"followup diabetes, med refill",2017-10-20,7.7,1
4,4,72,56,2017-07-19,"followup diabetes, med refill",2019-06-08,7.1,1

In [4]:
new_data.drop(columns=["Unnamed: 0"],inplace=True)

In [5]:
new_data.dtypes
#check the datatypes

patient_id      int64
age             int64
visit_date     object
summary        object
obs_date       object
a1c           float64
a1c_level       int64
dtype: object

In [6]:
#change datatypes to correct type 
new_data['visit_date'] = pd.to_datetime(new_data['visit_date'])

In [8]:
new_data['obs_date'] = pd.to_datetime(new_data['obs_date'])

In [9]:
new_data.dtypes

patient_id             int64
age                    int64
visit_date    datetime64[ns]
summary               object
obs_date      datetime64[ns]
a1c                  float64
a1c_level              int64
dtype: object

In [10]:
#count the number of times they got their bloodwork done
new_data["num_obs"]=""

for i in range(new_data.shape[0]):
    try:
        mas=new_data.loc[new_data['patient_id'] == new_data['patient_id'][i]]
        new_data["num_obs"][i]= mas['obs_date'].nunique()
    except: 
        continue

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [11]:
#count the number of visits 
new_data["num_visits"]=""

for i in range(new_data.shape[0]):
    try:
        mas=new_data.loc[new_data['patient_id'] == new_data['patient_id'][i]]
        new_data["num_visits"][i]= mas["visit_date"].nunique()
    except: 
        continue

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [12]:
#split the data into two dataframes since dates don't line up
summary_and_visit_df = new_data[['patient_id', 'age', 'visit_date','summary',"num_visits"]].copy()
date_a1c_df= new_data[['patient_id', 'age', 'obs_date','a1c','a1c_level',"num_obs"]].copy()

In [13]:
date_a1c_df.shape

(61943, 6)

In [14]:
summary_and_visit_df.shape

(61943, 5)

In [15]:
date_a1c_df.drop_duplicates(inplace=True)

In [16]:
date_a1c_df.shape

(3617, 6)

In [17]:
summary_and_visit_df.drop_duplicates(inplace=True)

In [18]:
summary_and_visit_df.shape

(14197, 5)

In [19]:
summary_and_visit_df.to_csv("../data/summary_and_visit_df")

In [20]:
date_a1c_df.to_csv("../data/date_a1c_df")