In [8]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 500)

In [9]:
sorted_sum=pd.read_csv("../data/sorted_summary_with_avg_visits.csv")

In [10]:
date_a1c_df=pd.read_csv("../data/date_a1c_df.csv")

In [11]:
sorted_sum.head()

,Unnamed: 0,patient_id,age,visit_date,summary,num_visits,time_between_visits,avg_time_between_visits
0,0,72,56,2017-07-19,"followup diabetes, med refill",10,9.0,99.777778
1,1,72,56,2017-07-28,"f/u lab results, DM2, HLD",10,103.0,99.777778
2,2,72,56,2017-11-08,DM and dyslipidemia follow-up,10,100.0,99.777778
3,3,72,56,2018-02-16,Uncontrolled DM,10,75.0,99.777778
4,4,72,56,2018-05-02,DM - hypoglycemia- dec. glyburide,10,149.0,99.777778

In [12]:
sorted_sum.drop(columns=["Unnamed: 0"],inplace=True)

In [13]:
sorted_sum.shape

(14197, 7)

In [14]:
date_a1c_df.head()

   Unnamed: 0  patient_id  age    obs_date  a1c  a1c_level  num_obs
0           0          72   56  2017-07-21  8.1          0        6
1           1          72   56  2019-01-19  7.6          1        6
2           2          72   56  2018-02-08  8.3          0        6
3           3          72   56  2017-10-20  7.7          1        6
4           4          72   56  2019-06-08  7.1          1        6

In [15]:
date_a1c_df.drop(columns=["Unnamed: 0"],inplace=True)

In [16]:
avg_a1c= date_a1c_df.groupby('patient_id',as_index=False)['a1c'].mean()

In [17]:
avg_a1c

      patient_id        a1c
0             72   7.833333
1            254   8.842857
2            255  10.233333
3            304   7.000000
4            384   8.500000
...          ...        ...
1094      243240   7.100000
1095      243410   7.300000
1096      243548  10.600000
1097      243642   7.500000
1098      243644  12.800000

[1099 rows x 2 columns]

I am adding average a1c for each patient as a feature.

In [18]:
sorted_sum["avg_a1c"]=""

for x in range(sorted_sum.shape[0]):
    for i in range(len(avg_a1c)):
        try:
            if sorted_sum["patient_id"][x]== avg_a1c["patient_id"][i]:
                #index of where patient id is that value 
                sorted_sum["avg_a1c"][x]= avg_a1c["a1c"][i]
        except:
            continue

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
#save this to a csv
sorted_sum.to_csv("../data/sorted_sum_data.csv")