In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 500)
%matplotlib inline

In [2]:
df= pd.read_csv("../data/sorted_sum_data.csv")

In [3]:
data_a1c_df=pd.read_csv("../data/date_a1c_df.csv")

In [4]:
df.head()

,Unnamed: 0,patient_id,age,visit_date,summary,num_visits,time_between_visits,avg_time_between_visits,avg_a1c
0,0,72,56,2017-07-19,"followup diabetes, med refill",10,9.0,99.777778,7.833333
1,1,72,56,2017-07-28,"f/u lab results, DM2, HLD",10,103.0,99.777778,7.833333
2,2,72,56,2017-11-08,DM and dyslipidemia follow-up,10,100.0,99.777778,7.833333
3,3,72,56,2018-02-16,Uncontrolled DM,10,75.0,99.777778,7.833333
4,4,72,56,2018-05-02,DM - hypoglycemia- dec. glyburide,10,149.0,99.777778,7.833333

In [5]:
df.drop(columns=["Unnamed: 0"],inplace=True)

In [6]:
#create a new dataframe so that we have one row per patient with average a1c,average time between visits, age, and number of visits
new_df = df[['patient_id', 'age',"num_visits","avg_time_between_visits","avg_a1c"]].copy()

In [7]:
new_df.head()

   patient_id  age  num_visits  avg_time_between_visits   avg_a1c
0          72   56          10                99.777778  7.833333
1          72   56          10                99.777778  7.833333
2          72   56          10                99.777778  7.833333
3          72   56          10                99.777778  7.833333
4          72   56          10                99.777778  7.833333

In [8]:
new_df.drop_duplicates(inplace=True)

In [9]:
new_df.reset_index(inplace=True,drop=True)

In [10]:
new_df.head()

   patient_id  age  num_visits  avg_time_between_visits    avg_a1c
0          72   56          10                99.777778   7.833333
1         254   64          54                20.584906   8.842857
2         255   64           8               146.857143  10.233333
3         304   70           5                54.500000   7.000000
4         384   66           9               105.250000   8.500000

Add column to indicate whether the patient's average a1c is classified as our positive class (1,controlled) or negative class (0,uncontrolled)

In [11]:
new_df["avg_control_level"]=""

for i in range(new_df.shape[0]):
    if new_df["avg_a1c"][i] <=8:
        new_df["avg_control_level"][i]= 1
    else: new_df["avg_control_level"][i]=0
        #1 is controlled

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
data_a1c_df.head()

   Unnamed: 0  patient_id  age    obs_date  a1c  a1c_level  num_obs
0           0          72   56  2017-07-21  8.1          0        6
1           1          72   56  2019-01-19  7.6          1        6
2           2          72   56  2018-02-08  8.3          0        6
3           3          72   56  2017-10-20  7.7          1        6
4           4          72   56  2019-06-08  7.1          1        6

In [13]:
# add it number of observations per patient 

new_df["num_obs"]=""

for x in range(data_a1c_df.shape[0]):
    for i in range(new_df.shape[0]):
            if data_a1c_df["patient_id"][x]== new_df["patient_id"][i]:
                #index of where patient id is that value 
                new_df["num_obs"][i]= data_a1c_df["num_obs"][x]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [14]:
new_df.isnull().sum()

patient_id                  0
age                         0
num_visits                  0
avg_time_between_visits    31
avg_a1c                     0
avg_control_level           0
num_obs                     0
dtype: int64

In [15]:
new_df.head()

,patient_id,age,num_visits,avg_time_between_visits,avg_a1c,avg_control_level,num_obs
0,72,56,10,99.777778,7.833333,1,6
1,254,64,54,20.584906,8.842857,0,7
2,255,64,8,146.857143,10.233333,0,2
3,304,70,5,54.500000,7.000000,1,1
4,384,66,9,105.250000,8.500000,0,4

In [16]:
new_df.to_csv("../data/new_df_for_modelling.csv")